<strong>Hello, {{ provider }}</strong>
<p>There was an appointment cancellation, check more details below:</p>
<p>
  <strong>Costumer: </strong> {{ user }} <br />
  <strong>Date/Time: </strong> {{ date }} <br />
  <br />
  <small>
    This date and time are now available for new appointments.
  </small>
</p>